[submodule "myapps/common"]
	path = myapps/common
	url = git@github.com:myapps-space/myapps-common.git
[submodule "myapps/client/utility"]
	path = myapps/client/utility
	url = git@github.com:myapps-space/myapps-client-utility.git
[submodule "myapps/private"]
	path = myapps/private
	url = git@github.com:myapps-space/myapps-private.git
